body {
    font-size: .875rem;
}

main {
    padding-top: 3.5rem;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link:hover {
    color: #007bff;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.navbar-nav .nav-link i {
    margin-right: 5px;
}

/* product adding page button */
.button-container {
    display: flex;
    justify-content: center;

    button {
        width: 100px;
    }
}