body {
    font-size: .875rem;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

main {
    padding-top: 3.5rem;
    margin-left: 240px;
    /* Adjust based on sidebar width */
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    /* Height of the top navbar */
    height: calc(100vh - 56px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 10px 15px;
    display: block;
    transition: all 0.2s;
}

.sidebar .nav-link:hover {
    color: #007bff;
    background-color: #495057;
}

.sidebar .nav-link.active {
    color: #007bff;
    background-color: #495057;
}

.sidebar .nav-link .fas {
    margin-right: 10px;
}

#sidebar {
    height: 100vh;
    position: fixed;
    top: 56px;
    /* Height of the top navbar */
    left: 0;
    padding: 20px;
    background-color: #343a40;
}

.navbar-nav .nav-link i {
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    width: 100px;
}